.section {
  text-align: center;
  width: 100%;
  background-color: $black;

  &.gray-background {
    background-color: $dark-gray;
  }

  .section-content {
    padding: $section-padding-top-l 5%;

    @include viewport-m {
      padding: $section-padding-top-m 3%;
    }

    @include viewport-s {
      padding: $section-padding-top-s 2%;
    }
  }
}

.fifty-fifty-row {
  display: flex;
  margin: 0 auto;
  @include viewport-s {
    flex-wrap: wrap;
  }

  .column {
    flex-basis: 50%;

    @include viewport-s {
      flex-basis: 100%;
    }
  }
}


.fifty-fifty-row-m {
  @extend .fifty-fifty-row;

  @include viewport-m {
    flex-wrap: wrap;
  }

  .column {
    @include viewport-m {
      flex-basis: 100%;
    }
  }
}

.fifty-fifty-row-s {
  @extend .fifty-fifty-row;

  @include viewport-s {
    flex-wrap: nowrap;
  }

  .column {
    @include viewport-s {
      flex-basis: 50%;
    }
  }
}
