.section {
  text-align: center;
  width: 100%;
  background-color: $black;

  &.gray-background {
    background-color: $dark-gray;
  }

  .section-content {
    padding: 9.375rem 5%;
  }
}

.fifty-fifty-row {
  display: flex;
  margin: 0 auto;
  @include viewport-s {
    flex-wrap: wrap;
  }

  .column {
    flex-basis: 50%;

    @include viewport-s {
      flex-basis: 100%;
    }
  }
}
