$dark-gray: #3A3A37;
$black: #000;
$muted-gold: #f3e7a8;
$section-padding-top-l: 9.375rem;
$section-padding-top-m: 7.375rem;
$section-padding-top-s: 4.375rem;

html {
  background-color: $black;
}

@mixin viewport-m {
  @media only screen and (max-width: 1068px) { @content; }
}

@mixin viewport-s {
  @media only screen and (max-width: 735px) { @content; }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
